{% extends "base.html" %}

{% block content %}
<main class="offcanvas-enabled" style="padding-top: 5rem;">
  <section class="ps-lg-4 pe-lg-3 pt-4" style="min-height:84vh">
    <div class="card mx-auto shadow-sm rounded-3 border-0" style="max-width: 400px; margin-top:60px;">
      <div class="card-body p-4">
        <h4 class="card-title fw-bold mb-3">Forgot Password</h4>
        <div class="mb-3">
          {% include "accounts/alert.html" %}
        </div>
        <form action="{%url 'forgot-password'%}" method="POST">
          {% csrf_token %}
          <div class="mb-3">
            <label class="form-label fs-sm fw-medium">Email Address</label>
            <input type="email" class="form-control" placeholder="Enter your registered email" name="email" required>
          </div>
          <div class="mb-3 text-end">
            <a href="{%url 'login'%}" class="fs-xs fw-medium text-decoration-none">Remembered password? Log in</a>
          </div>
          <div class="mb-3">
            <button type="submit" class="btn btn-primary w-100 fw-bold py-2">Submit Reset Request</button>
          </div>
        </form>
      </div>
    </div>
    
    <p class="text-center mt-4">Don't have account? <a href="{%url 'register'%}" class="fw-bold">Sign up</a></p>
    <br><br>
  </section>
</main>
{% endblock content %}